
<div class="add-post-container">
    <form ng-submit="saveNote()">
        <div>
            <!--<input type="text" id="title" name="title" placeholder="tytuł" />-->
            <textarea id="content" 
                      rows="4" 
                      name="content" 
                      placeholder="treść..."
                      ng-model="note.text">
            </textarea>
        </div>
        <div class="buttons">
            <button type="submit" class="button">Zapisz</button>
            <a href="/notes">Anuluj</a>
        </div>
    </form>
</div>